extends ../../_layout.jade
block vars
  - var head = { title: 'Works - openFrameworks + Kinet', url: 'ofkinect' }

block content 
  #wrap
    .inner.js-Pjax
      section#works.single
        header
          h1 openFrameworks + Kinet
        .content
          ul
            li Year: 2014
            li openFrameworks(C++)
          .embed-container
            iframe(src='https://player.vimeo.com/video/78279062' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)
