- var head = { title: 'Works' }

include ../_header.jade

#wrap
  .inner.js-Pjax
    section#works
      h1 WORKS
      ul
        li#nipponista.project(data-tex = '/images/nipponista.jpg'): a(href='nipponista/') Nipponista Isetan at NYC
        li#siaf2014.project(data-tex = '/images/test1.jpg'): a(href='nipponista/') Nipponista Isetan at NYC
        li#test2.project(data-tex = '/images/test2.jpg'): a(href='nipponista/') Nipponista Isetan at NYC

include ../_footer.jade
