footer#footer
  p &copy; 2015 Naoto Yoshimoto

#world

<script src="/scripts/lib/modernizr.custom.80335.js"></script>
//- <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>
<script src="/scripts/lib/three.min.js"></script>
//- <script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
//- <script src="/scripts/lib/TweenMax.min.js"></script>
<script src="/scripts/lib/transition.min.js"></script>
<script src="/scripts/lib/pjax.0.1.4.js"></script>

<script src="/fonts/gotham_medium_Regular.js"></script>
<script src="/scripts/App.min.js"></script>
