footer#footer
  p &copy; 2015 Naoto Yoshimoto

#world

<script src="/scripts/lib/modernizr.custom.80335.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js"></script>
//- <script src="/scripts/lib/three.min.js"></script>/

//- <script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
//- <script src="/scripts/lib/TweenMax.min.js"></script>
//- <script src="/scripts/lib/transition.min.js"></script>
<script src="/scripts/lib/pjax.0.1.4.js"></script>
<script src="/scripts/App.min.js"></script>

|<script>
|  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
|  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
|  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
|  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
|  ga('create', 'UA-19915513-1', 'auto');
|  ga('send', 'pageview');
|</script>
