doctype html
html(lang="en")
  head
    if(head.title)
      title #{head.title} | Naoto Yoshimoto
    else
      title Naoto Yoshimoto
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet' href='/style.css')
    //- <script src="https://use.typekit.net/svn8kad.js"></script>
    //- <script>try{Typekit.load({ async: true });}catch(e){}</script>
