block vars

doctype html
html(lang="en")
  body
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    include _header
    include _nav
    block content
    include _footer
