extends _layout.jade
block vars
  - var head = { title: '', viewport: ''  }

block content 
  #wrap.home
    .inner.js-Pjax
      header#header
        h1 Naoto Yoshimoto
        h2 Frontend Web Developer and Designer based in NYC.
        p @naotone
