- var head = { title: '', viewport: ''  }

include _header.jade
#wrap.home
  .inner.js-Pjax
    header#header
      h1 Naoto Yoshimoto
      h2 Frontend Developer and Designer based in NYC.
      p @naotone
      
include _footer.jade
