- var head = { title: 'Works - Volkswagen UP', url: 'vwup' }

include ../../_header.jade

#wrap
  .inner.js-Pjax
    section#works.single
      header
        h1 Volkswagen UP
        a(href="http://vw-up.jp") http://vp-up.jp
      .content
        ul
          li Year: 2012
          li Javascript coding for some pages.
        .images
          img(src="/images/vwup_1.jpg" alt="")
          img(src="/images/vwup_2.jpg" alt="")
          img(src="/images/vwup_3.jpg" alt="")


include ../../_footer.jade
