- var head = { title: 'Works - ELEKINESIS', url: 'elekinesis' }

include ../../_header.jade

#wrap
  .inner.js-Pjax
    section#works.single
      header
        h1 ELEKINESIS
        a(href="http://elekinesis.com/va/") http://elekinesis.com/va/
        br 
        a(href="http://elekinesis.com/06/") http://elekinesis.com/06/
        br
        a(href="http://workshop.elekinesis.com/01/") http://elekinesis.com/workshop/
      ul
        li Year: 2014 - Present
        li Design: Hirofumi Abe
        li Coding: Naoto Yoshimoto
      p ELEKINESIS is a music event that is organized my frinends and me. I code for some websites and VJing for this event.
      .images
        img(src="/images/elekinesis_1.jpg" alt="")
        img(src="/images/elekinesis_2.jpg" alt="")
        img(src="/images/elekinesis_3.jpg" alt="")


include ../../_footer.jade
