extends ../../_layout.jade
block vars
  - var head = { title: 'Works - Isetan Mens 10th Annivarsary', url: 'isetanmens10th' }

block content 
  #wrap
    .inner.js-Pjax
      section#works.single
        header
          h1 Isetan Mens 10th Annivarsary
        .content
          ul
            li Year: 2014
          .embed-container
            iframe(src='https://player.vimeo.com/video/78330563' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen)
          .images
            img(src="/images/isetanmens10th_1.jpg" alt="")
            img(src="/images/isetanmens10th_2.jpg" alt="")
            img(src="/images/isetanmens10th_3.jpg" alt="")
            img(src="/images/isetanmens10th_4.jpg" alt="")
