- var head = { title: 'About' }

include ../_header.jade

#wrap
  .inner.js-Pjax
    section#about
      h1 ABOUT
      p
        span Naoto Yoshimoto is a programmer and designer moved NYC from JAPAN. <br> I was a student at the <a href="http://sfpc.io/"><span class="bg">School For Poetic Computation</span></a>.<br>
        span I'm looking for a new job in NYC and I also work as a freelance programmer and designer.
        span I'm on <a href="https://facebook.com/naotone/"><span class="bg">Facebook</span></a>, <a href="https://instagram.com/naotone/"><span class="bg">Instagram</span></a> and you can <a href="mailto:me@naotone.com"><span class="bg">Email</span></a> me.<br>

include ../_footer.jade
