white = #f0f0f0
black = #111111
gray = #111111
red = #FF6363
blue = #647FFF
orange = #FFAF63

fontGotham  = 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', Sans-serif
fontVerlag  = 'Verlag A', 'Verlag B', 'Futura', Sans-serif


html
  font-family fontGotham
  font-style normal
  font-weight 400

body
  font-size 62.5%
  letter-spacing 0.1rem
  color: white
  // span.bg
  //   background none
  //   display inline-block
  //   border-bottom 1px solid white
  //   &:hover
  //     color white
  //     border-bottom 1px solid transparent
  //     background #0000ff
  h1,h2,h3
    font-family fontVerlag

  p,
  li
    line-height 140%
  p
    margin 0 0 2rem 0
  a
    color: white
    cursor pointer
    text-decoration underline
    &:hover
      text-decoration none



footer
  opacity 0.3
  font-size 0.5rem

#top,
#mainNav
  a
    font-family fontVerlag
    font-weight 700
    font-size 1.0rem

#header
  h1
    font-family fontVerlag
    font-weight 700
    font-size 2.5rem
    letter-spacing 0.15rem
  h2
    font-size 1.0rem
    margin 0.5rem 0 0 0
  p
    font-size 1.0rem
    margin 1.5rem 0 0 0

section
  header
    a
      font-size .9rem
  p,
  a,
  li
    font-size 0.9rem
    line-height 1.8rem
  h1
    font-size 2rem
    font-weight 700

  h2
    font-size 1.5rem
    font-weight 700

  a
    &:hover
      color white
      border-bottom 1px solid transparent
      background #0000ff

@media only screen and (min-width : 415px)
  header
    h1
      font-size 3rem

  #header
    h1
      font-size 2.5rem
    h2
      font-size 1.4rem
    p
      font-size 1.0rem

  #top,
  #mainNav
    a
      font-size 1.2rem

  section
    p,
    a,
    li
      font-size 1.2rem
