white = #f0f0f0
black = #111111
gray = #111111
red = #FF6363
blue = #647FFF
orange = #FFAF63

fontSerif  = 'Gotham', 'proxima-nova'
fontFutura  = 'futura', 'futura-pt'
// 'Verlag'

html
  font-family fontSerif

header
  h1
    font-family fontFutura

body
  font-size 62.5%
  letter-spacing 0.1rem
  color: white
  span.bg
    background none
    // line-height 0.7rem
    display inline-block
    // border 2px solid #0000ff
    border-bottom 1px solid white
    &:hover
      color white
      border-bottom 1px solid transparent
      // border 2px solid transparent
      background none
      background #0000ff

  p,
  li
    line-height 140%
  a
    color: white
    cursor pointer
    text-decoration underline
    &:hover
      // color white
      text-decoration none

header
  h1
    font-size 3.5rem
    letter-spacing 0.15rem
  h2
    font-size 2.0rem

footer
  font-size 0.8rem

nav,
#socialLinks
  font-size 1rem

section
  p,
  a
    font-size 1.6rem
  li
    font-size 1.3rem
  h1
    font-weight bold
    font-size 2rem
  h2
    font-weight bold
    font-size 1.8rem
  ul.credit
    li
      font-size 1.2rem
